
<div class="col-lg-12">
  <section class="panel">
    <header class="panel-heading">Section two (deceased addresses)</header>
    <div class="panel-body">
    
      <div class="form">

        <form class="form-validate form-horizontal " id="register_form" method="get" action="">

          <!-- panel -->
          <div class="form-group ">
            <label for="lname" class="control-label col-lg-2">District of origin<span class="required">*</span></label>
            <div class="col-lg-4">
              <select name="gender" id="gender" class="form-control">
                <option>&nbsp;</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
              </select>
            </div>
          </div>
          <!-- panel end -->

          <!-- panel -->
          <div class="form-group ">
            <label for="fname" class="control-label col-lg-2">First name <span class="required">*</span></label>
            <div class="col-lg-4">
              <input class=" form-control" id="first_name" name="first_name" type="text" />
            </div>
          </div>
          <!-- panel end -->

          <!-- panel -->
          <div class="form-group ">
            <label for="mname" class="control-label col-lg-2">Middle name</label>
            <div class="col-lg-4">
              <input class=" form-control" id="middle_name" name="middle_name" type="text" />
            </div>
          </div>
          <!-- panel end -->

          <!-- panel -->
          <div class="form-group ">
            <label for="fname" class="control-label col-lg-2">Gender <span class="required">*</span></label>
            <div class="col-lg-4">
              <select name="gender" id="gender" class="form-control">
                <option>&nbsp;</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
              </select>
            </div>
          </div>
          <!-- panel end -->

          <!-- panel -->
          <div class="form-group ">
            <label for="fname" class="control-label col-lg-2">Birthdate <span class="required">*</span></label>
            <div class="col-lg-2">
              <input class=" form-control" id="birthdate" name="dob" type="text" 
              data-date-format="dd/mm//yyyy"  onkeypress="return false;" />
            </div>
            <label for="fname" class="control-label col-lg-2">Estimate</label>
            <div class="col-lg-2">
              <select name="birthdate_unkown" id="birthdate_unkown" class="form-control" >
                <option>&nbsp;</option>
                <option value="Unkown">Unkown</option>
              </select>
            </div>
          </div>
          <!-- panel end -->
          
          <!-- panel -->
          <div class="form-group ">
            <label for="fname" class="control-label col-lg-2">Age (estimation) <span class="required">*</span></label>
            <div class="col-lg-2">
              <input class=" form-control" id="age_estimation" name="age_estimation" type="text" />
            </div>
          </div>
          <!-- panel end -->

        </form>


      </div>
    </div>
  </section>
</div>
