# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 85a091024038bd3108d3f9d2f019c6987620727e2f36ce0b8e4e601702d933a131880e591e2f3587091c647aec731ab70f9fd307a043130215a8f2b47cfba334

test:
  secret_key_base: ed20c1ed467ecd18412ea798df7d746e4fd9f0e4dce7ad762fdfd10cf58eae4c1c87b265f9e95341fa4febb103483cc91186ced1c592067403c7c018dbb1b236

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
